<template name="addPlace">
	<div class="containerr">
		<h1 class="text-center">Добавить место</h1>
		<div class="roww">
			<div class="coll spann_4">
				{{> newLocation}}
			</div>
			<div class="coll spann_1">
				<h1 class='invisible'>aa</h1>
			</div>
			<div class="coll spann_19">
				{{> Show}}

			</div>
		</div>

	</div>
</template>

<!-- %%%%%%%%%%%%%%%%%%%% -->

<template name="newLocation">
	<form>
		<div class="form-group">
			<label class="control-label" for="newLocation">Локация</label>
			<input class="form-control typeahead" type="text" id="newLocation" name="newLocation" autocomplete="off" data-source="locations">
			<label class="control-label" for="newDistrict">Район</label>
			<input class="form-control typeahead" type="text" id="newDistrict" name="newDistrict" autocomplete="off" data-source="districts">
			<label class="control-label" for="newPlace">Место</label>
			<input class="form-control typeahead" type="text" id="newPlace" name="newPlace" autocomplete="off" data-source="places">
			<div class="radio">
				<label>
					<input type="radio" id="hotel" value="Отель" name="kind">Отель</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" id="airport" value="Аэропорт" name="kind">Аэропорт</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" id="other" value="Другое" name="kind" checked="checked">Другое</label>
			</div>
		</div>
		<input type="submit" value="Добавить">
	</form>
</template>

<template name="Show">
	{{> reactiveTable settings=settings id='loctable'}}
</template>

<template name="LocDialog">
	<form>
		<div class="form-group">

			<label class="control-label" for="newModalLocation">Локация</label>
			<input class="form-control typeahead" type="text" id="newModalLocation" name="newModalLocation" autocomplete="off" value="{{Locations.location}}">

			<label class="control-label" for="newModalDistrict">Район</label>
			<input class="form-control typeahead" type="text" id="newModalDistrict" name="newModalDistrict" autocomplete="off" value="{{Locations.district}}">

			<label class="control-label" for="newModalPlace">Место</label>
			<input class="form-control typeahead" type="text" id="newModalPlace" name="newModalPlace" autocomplete="off" value="{{Locations.place}}">

			<div class="radio">
				<label>
					<input type="radio" id="hotelModal" value="Отель" name="kindModal">Отель</label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" id="airportModal" value="Аэропорт" name="kindModal">Аэропорт</label>
			</div>

			<div class="radio">
				<label>
					<input type="radio" id="otherModal" value="Другое" name="kindModal">Другое</label>
			</div>
			<!-- <button type="button" class="btn btn-success" style="float: right">Подтвердить</button> -->
		</div>
	</form>
</template>
