<template name="addTransfer">
	<div class="containerr">
		<h1 class="text-center">Добавить новый трансфер</h1>
		<form class=''></form>
		<div class="roww">
			<div class="coll spann_6">
				<div class="roww">
					<div class="coll spann_12">
						{{> textfield label='label' placeholder='placeholder' id='id'}}
					</div>
					<div class="coll spann_12">
						{{> textfield label='label' placeholder='placeholder' }}
					</div>
				</div>
			</div>
			<div class="coll spann_6">
				вап
			</div>
			<div class="coll spann_6">
				вап
			</div>
			<div class="coll spann_6">
				вап
			</div>
		</div>
	</div>

</template>
